<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<script src="static/jquery-2.1.1.min.js"></script>
<script src="{{ static_url("lobby.js") }}" type="text/javascript"></script>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Tactics</title>
    <link rel="stylesheet" href="{{ static_url("lobby.css") }}" type="text/css"/>
</head>

<body>
 <div id="body">
      <div id="inbox">
        {% for message in messages %}
          {% include chatmessage.html" %}
        {% end %}
      </div>
      <div id="input">
        <form id="messageform" action="" onsubmit="return submitChatForm()">
          <table>
            <tr>
              <td><input name="body" id="message" autocomplete="off" style="width:500px"/></td>
              <td style="padding-left:5px">
                {% module xsrf_form_html() %}
              </td>
            </tr>
          </table>
        </form>
        <input id = "messagebutton" type="submit" />
      </div>
    </div>
</body>

</html>
